.header {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
}
.text-field, .password-field, .button {
  -fx-border-radius: 3;
  -fx-background-radius: 3;
}

.logout-button {
    -fx-background-color: yellow;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane > .viewport {
    -fx-background-color: white;
}
